@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left:100px;
  top: 0;
  width:130%;
  height:100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {

  max-width: 600px;
  line-height: 3;
}


/* tostify */

.Toastify__toast {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif !important;
  color: hashtag#2b8dee !important;
  font-size: 1.2rem !important;
  padding: 8px !important;
 }

 .slick-slide > div{
   margin: 0 10px;
 }
 .slick-dots li{
  color: #ffffff;
 
 }
 .slick-prev:before{
  color:aqua;
font-size: 25px;
 }
 .slick-next:before{
  color:aqua;
font-size: 25px;
 }
